<template id="reset_password">
  <v-ons-page id="-user-reset_password-" @show="init()">

    <!-- ヘッダー -->
    <page-header></page-header>

    <!-- コンテンツ -->
    <div class="contents_area">

        <div class="uk-container login-inner-wrap">

            <div class="login-inner">

                <h1>{{view.title}}</h1>

                <p class="top">
                    登録しているメールアドレスを入力してください。<br>
                    新パスワード設定URLを発行いたします。<br>
                </p>

                <div class="login-form-inner-wrap">

                    <label class="uk-form-label" for="login-form-mail">メールアドレス</label>

                    <div class="uk-form-controls">
                        <v-ons-input type="email" class="uk-input uk-width-1-1" name="email" id="email" v-model="form.email" placeholder="example@domain.com"></v-ons-input>
                        <p class="uk-flex uk-flex-middle" v-if="error.email"><span uk-icon="icon: warning;"></span>{{error.email}}</p>
                    </div>

                </div>

                <div class="uk-text-center login-form-submit">
                    <v-ons-button class="uk-button uk-button-danger" id="submit_btn" name="submit_btn" value="1" @click="submit" v-bind:disabled="!isEmailValidated">送信</v-ons-button>
                </div>

            </div>

        </div>

    </div><!--contents_area-->


    <!-- フッター -->
    <bottom-navi></bottom-navi>

	</v-ons-page>
</template>
