/*** @@@views/reset_password.css@@@ ***/

/* ========================================================================
   余白リセット
 ========================================================================== */

#-user-reset_password- p {
  margin: 0;
  padding: 0;
}


/* ========================================================================
   スライダーはみ出し分、hidden設定
 ========================================================================== */

#-user-reset_password- .page__content {
    overflow-x: hidden;
}


/* ========================================================================
   コンテンツ関連スタイル
 ========================================================================== */

#-user-reset_password- .contents_area {
}

#-user-reset_password- .login-inner-wrap {
    background-color: #f4f4f2;
    padding-top: calc(2 * 16px);
    padding-bottom: calc(2 * 16px);
}

#-user-reset_password- .login-inner-wrap p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: calc(4 * 16px);
}

#-user-reset_password- .login-inner form p.top {
    margin-bottom: calc(3 * 16px);
}

#-user-reset_password- .login-inner h1 {
    font-family: "Noto Sans JP", sans-serif;
    color: #606060;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: calc(3 * 16px);
}

#-user-reset_password- .login-inner .login-form-inner-wrap {
    max-width: 364px;
    margin: 0 auto calc(3 * 16px);
}

#-user-reset_password- .login-inner-wrap .button.button--quiet {
    font-size: 15px;
}

#-user-reset_password- .login-form-inner-wrap label {
    color: #606060;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#-user-reset_password- .login-form-inner-wrap .auto-login label {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
}

#-user-reset_password- .login-form-inner-wrap .auto-login label.center {
    margin-left: 5px;
    margin-top: -4px;
}

#-user-reset_password- .login-form-inner-wrap .uk-form-controls p {
    font-size: 13px;
    color: #ff5500;
    margin: 0;
}

#-user-reset_password- .login-form-inner-wrap .uk-form-controls p span {
    font-size: 13px;
    margin-right: calc(0.25 * 16px);
}

#-user-reset_password- .login-form-inner-wrap .uk-form-controls {
    font-size: 14px;
    margin-bottom: calc(1.5 * 16px);
}

#-user-reset_password- .login-form-inner-wrap .uk-form-controls .text-input {
    margin-bottom: calc(0.25 * 16px);
    border-radius: 5px;
    border: 1px solid #606060;
    background: #fff;
    padding: 0 10px;
    height: 40px;
}

#-user-reset_password- .login-inner-wrap .login-form-submit .button {
  color: #fff;
  font-size: .875rem;
  background-color: #ff5500;
  border-radius: 10px;
  padding: 1em 5em;
    line-height: 1;
    font-weight: bold;
}

@media (max-width: 768px) {
  #-user-reset_password- .login-inner-wrap .login-form-submit .button {
    font-size: 14px;
    border-radius: 10px;
    padding: 0.8em 5em;
  }
}

#-user-reset_password- .login-inner-wrap .button.button--quiet {
    font-size: 15px;
}
