/* Custom Theme for Onsen UI 2.11.2 */


:root {
  /* variables for iOS components */
  --background-color: #FCF7D9;
  --text-color: #606060;
  --sub-text-color: #AAAAAA;
  --highlight-color: #FF5500;
  --second-highlight-color: #8ED5E5;
  --border-color: #939393;
  --button-background-color: #FF5500;
  --button-cta-background-color: #FBC2A1;
  --toolbar-background-color: #FCF7D9;
  --toolbar-button-color: #FBC2A1;
  --toolbar-text-color: #606060;
  --toolbar-border-color: #939393;
  --button-bar-color: #606060;
  --button-bar-active-text-color: #606060;
  --button-bar-active-background-color: #FFFFFF;
  --button-light-color: rgba(36,36,36,1);
  --segment-color: #545454;
  --segment-active-text-color: #fff;
  --segment-active-background-color: #E0E0E0;
  --list-background-color: #fff;
  --list-header-background-color: rgba(255,255,255,1);
  --list-tap-active-background-color: rgba(250,250,250,1);
  --list-item-chevron-color: #606060;
  --progress-bar-color: rgba(255,255,255,1);
  --progress-bar-secondary-color: #8ED5E5;
  --progress-bar-background-color: #BBA5CF;
  --progress-circle-primary-color: #7A86BD;
  --progress-circle-secondary-color: #7A86BD;
  --progress-circle-background-color: transparent;
  --tabbar-background-color: #FFFFFF;
  --tabbar-text-color: rgba(211,211,211,1);
  --tabbar-highlight-text-color: #FF5500;
  --tabbar-border-color: rgba(145,145,145,1);
  --switch-highlight-color: #FBC2A1;
  --switch-border-color: #D1D1D1;
  --switch-background-color: white;
  --range-track-background-color: rgba(158,158,158,1);
  --range-track-background-color-active: rgba(0,111,125,1);
  --range-thumb-background-color: #8ED5E5;
  --modal-background-color: rgba(0,0,0,0.52);
  --modal-text-color: #fff;
  --alert-dialog-background-color: rgba(255,255,255,1);
  --alert-dialog-text-color: #606060;
  --alert-dialog-button-color: #FF5500;
  --alert-dialog-separator-color: #AAAAAA;
  --dialog-background-color: #FFFFFF;
  --dialog-text-color: var(--text-color);
  --popover-background-color: white;
  --popover-text-color: #606060;
  --action-sheet-title-color: #606060;
  --action-sheet-button-separator-color: rgba(0, 0, 0, 0.1);
  --action-sheet-button-color: #FF5500;
  --action-sheet-button-destructive-color: #606060;
  --action-sheet-button-background-color: rgba(255,255,255,1);
  --action-sheet-button-active-background-color: #FF5500;
  --action-sheet-cancel-button-background-color: rgba(255,255,255,1);
  --notification-background-color: #FF5500;
  --notification-color: white;
  --search-input-background-color: rgba(255,255,255,0.09);
  --fab-text-color: #ffffff;
  --fab-background-color: #FBC2A1;
  --fab-active-background-color: rgba(0,0,0,0.7);
  --card-background-color: white;
  --card-text-color: #606060;
  --toast-background-color: rgba(0,0,0,0.4);
  --toast-text-color: white;
  --toast-button-text-color: white;
  --select-input-color: #666666;
  --select-input-border-color: rgba(188,188,188,1);

  /* variables for Material Design components */
  --material-background-color: #FCF7D9;
  --material-text-color: #606060;
  --material-notification-background-color: #FF5500;
  --material-notification-color: white;
  --material-switch-active-thumb-color: #FBC2A1;
  --material-switch-active-background-color: rgba(55,71,79,0.3);
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-inactive-background-color: rgba(209,209,209,1);
  --material-range-track-color: #bdbdbd;
  --material-range-thumb-color: #8ED5E5;
  --material-range-disabled-thumb-color: #b0b0b0;
  --material-range-disabled-thumb-border-color: rgba(228,228,228,1);
  --material-range-zero-thumb-color: #f2f2f2;
  --material-toolbar-background-color: #FCF7D9;
  --material-toolbar-text-color: #606060;
  --material-toolbar-button-color: #545454;
  --material-segment-background-color: #fafafa;
  --material-segment-active-background-color: #E0E0E0;
  --material-segment-text-color: color(black a(38%));
  --material-segment-active-text-color: #545454;
  --material-button-background-color: #FF5500;
  --material-button-text-color: #FFFFFF;
  --material-button-disabled-background-color: color(#4f4f4f a(26%));
  --material-button-disabled-color: color(black a(26%));
  --material-flat-button-active-background-color: color(#999 a(20%));
  --material-list-background-color: #fff;
  --material-list-item-separator-color: #939393;
  --material-list-header-text-color: #606060;
  --material-checkbox-active-color: #FBC2A1;
  --material-checkbox-inactive-color: #FBC2A1;
  --material-checkbox-checkmark-color: rgba(255,255,255,1);
  --material-radio-button-active-color: #FBC2A1;
  --material-radio-button-inactive-color: #FBC2A1;
  --material-radio-button-disabled-color: #939393;
  --material-text-input-text-color: #606060;
  --material-text-input-active-color: #FF5500;
  --material-text-input-inactive-color: rgba(160,160,160,1);
  --material-search-background-color: #FFFFFF;
  --material-dialog-background-color: #ffffff;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: rgba(255,255,255,1);
  --material-alert-dialog-title-color: #606060;
  --material-alert-dialog-content-color: #606060;
  --material-alert-dialog-button-color: #FF5500;
  --material-progress-bar-primary-color: #BBA5CF;
  --material-progress-bar-secondary-color: #8ED5E5;
  --material-progress-bar-background-color: rgba(255,255,255,1);
  --material-progress-circle-primary-color: var(--material-progress-bar-primary-color);
  --material-progress-circle-secondary-color: var(--material-progress-bar-secondary-color);
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: #ffffff;
  --material-tabbar-text-color: #606060;
  --material-tabbar-highlight-text-color: #FF5500;
  --material-tabbar-highlight-color: rgba(49, 49, 58, 0.1);
  --material-fab-text-color: #FFFFFF;
  --material-fab-background-color: #FBC2A1;
  --material-fab-active-background-color: rgba(0,0,0,0.75);
  --material-card-background-color: white;
  --material-card-text-color: rgba(0, 0, 0, 0.54);
  --material-toast-background-color: rgba(0,0,0,0.4);
  --material-toast-text-color: white;
  --material-toast-button-text-color: #8ED5E5;
  --material-select-input-color: #666666;
  --material-select-input-active-color: rgba(0,0,0,0.31);
  --material-select-input-inactive-color: #666666;
  --material-select-border-color: rgba(0,0,0,0.31);
  --material-popover-background-color: #fafafa;
  --material-popover-text-color: #606060;
  --material-action-sheet-text-color: #606060;

  /* others */
  --tap-highlight-color: transparent;
}
